@charset "UTF-8";
/* **************************************************************** */
/*  =================================================== */
/*  https://github.com/kazi-sifat-plus9a | Noi Sek */
/*  https://gitlab.com/kazi-sifat-plus9a | Noi Sek */
/* */
/*  TABLE OF CONTENTS: */
/*    -- #0.1a Root Styles (You are here) */
/*    -- #0.2a Page Body */
/*    -- #0.3a Login Window */
/*    -- #0.3b Command Panel */
/*    -- #0.3c User Panel */
/*    -- #0.4a Settings */
/*    -- #0.4b Settings General */
/*    -- #0.4c Settings Style */
/*    -- #0.4d Settings Themes */
/*    -- #0.5a Misc. */
/* */
/****************************************************************/
/* 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-BoldItalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-radius: 100px;
  opacity: 0.2;
  transition: background-color 300ms ease, opacity 500ms ease; }
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
    opacity: 1; }

::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  opacity: 0.2;
  transition: background-color 300ms ease, opacity 500ms ease; }
  ::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 100px;
    opacity: 1; }

.disabled {
  opacity: 0.4; }
  .disabled .disabled:hover {
    cursor: not-allowed !important; }

.noselect, .date, .user-panel .login-panel-main .login-form .user-username, .user-panel .login-panel-main .login-form .user-password::-webkit-input-placeholder, .user-panel .login-panel-main .login-form .submit-row .left .dropdown, .user-panel .login-panel-main .bottom .left, .user-panel .login-panel-switcher .bottom .left, .command-panel .command, .command-panel .command .icon-wrapper, .command-panel .command .text, .command-panel .bottom .left, .command-panel .bottom .right {
  -webkit-user-select: none; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

@keyframes drop-in-notifications {
  0% {
    top: -200px; }
  100% {
    top: 0px; } }

@keyframes drop-in-options {
  0% {
    top: -100px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes error-shake {
  0% {
    transform: translateX(0px) scale(1); }
  11% {
    transform: translateX(-10px) scale(1.05); }
  22% {
    transform: translateX(10px) scale(1.05); }
  33% {
    transform: translateX(-10px) scale(1.05); }
  44% {
    transform: translateX(10px) scale(1.05); }
  55% {
    transform: translateX(-10px) scale(1.05); }
  66% {
    transform: translateX(10px) scale(1.05); }
  77% {
    transform: translateX(10px) scale(1.05); }
  88% {
    transform: translateX(10px) scale(1); }
  100% {
    transform: translateX(0px); } }

@keyframes login-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0); }
  90% {
    transform: translateY(10px); }
  100% {
    opacity: 0; } }

@keyframes login-fade-in {
  0% {
    opacity: 0;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes switcher-fade-in {
  0% {
    opacity: 0;
    transform: translateY(5px) scale(0.95); }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1); } }

@keyframes switcher-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1); }
  100% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95); } }

@keyframes wallpaper-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes window-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.7); }
  100% {
    opacity: 1;
    transform: scale(1); } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #222;
  font-family: "Open Sans";
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

/*****************************************************************
  -- #0.2a Page Body
  @mixin ==============================================================
  Body elements external to the login window itself. */
/*****************************************************************/
.date {
  color: #fff;
  opacity: 0;
  font-size: 0.75em;
  font-style: italic;
  text-align: right;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 265px 0px 0px -425px;
  width: 850px;
  transition: all 1s; }
  .date.loaded {
    opacity: 1; }
  .date em {
    font-weight: bold; }

.notifications-container {
  position: absolute;
  top: 10px;
  overflow: hidden;
  width: 100%; }
  .notifications-container .notification {
    color: #2f0909;
    background: rgba(252, 237, 238, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    top: -200px;
    padding: 15px;
    margin: 0 auto 25px auto;
    width: 80vw;
    z-index: 3;
    animation: drop-in-notifications 0.5s forwards;
    border-radius: 2px;
    transition: opacity 0.5s; }
    .notifications-container .notification.error {
      color: #fff;
      background: rgba(180, 30, 30, 0.65); }
    .notifications-container .notification.success {
      background: rgba(120, 255, 64, 0.65); }
    .notifications-container .notification.fadeout {
      opacity: 0; }

.wallpaper-background, .wallpaper-foreground {
  background-size: cover;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1; }

.wallpaper-foreground {
  opacity: 1; }
  .wallpaper-foreground.fadeout {
    animation: wallpaper-fade-out 600ms forwards;
    animation-timing-function: ease-out; }

.cycler-preloader {
  display: none; }

/*****************************************************************
  -- #0.3a Login Window
  @mixin ==============================================================
  Contains the actual login dialogue. */
/*****************************************************************/
.login-window-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

.login-window {
  display: flex; }
  .login-window .command-panel {
    display: flex;
    flex-direction: column;
    width: 30%; }
  .login-window .user-panel {
    border-style: solid;
    border-bottom: none;
    border-width: 1px;
    height: 100%;
    width: 70%; }

.login-window {
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -425px;
  height: 500px;
  width: 850px;
  border-radius: 4px;
  transform: scale(0.7);
  animation: window-fade-in 0.5s forwards;
  animation-delay: 200ms;
  animation-timing-function: ease-out; }

.command-panel, .user-panel {
  padding: 15px 35px; }

.user-panel .login-panel-main {
  display: flex;
  flex-direction: column; }
  .user-panel .login-panel-main .avatar-container.hidden + .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%; }

.user-panel {
  color: #fff;
  border-bottom: none; }
  .user-panel > div {
    height: 100%; }
  .user-panel .login-panel-main {
    position: relative;
    z-index: 2;
    height: 100%; }
    .user-panel .login-panel-main.fadeout {
      animation: login-fade-out 500ms ease forwards;
      z-index: 1; }
    .user-panel .login-panel-main.fadein {
      animation: login-fade-in 200ms ease-out forwards; }
    .user-panel .login-panel-main .avatar-container {
      height: 50%;
      padding-top: 20px;
      padding-bottom: 75px; }
      .user-panel .login-panel-main .avatar-container .avatar-background {
        background: url("../img/avatar-background.png") no-repeat center center;
        margin: 0 auto;
        height: 155px;
        width: 154px;
        transform: translateX(-10px);
        transition: all 1s; }
      .user-panel .login-panel-main .avatar-container .avatar-mask {
        border-radius: 100%;
        overflow: hidden;
        height: 125px;
        width: 125px;
        transform: translate(20px, 15px); }
      .user-panel .login-panel-main .avatar-container .user-avatar {
        margin: 0 auto;
        height: 125px;
        width: 125px; }
    .user-panel .login-panel-main .login-form {
      height: 45%;
      display: block; }
      .user-panel .login-panel-main .login-form .user-username {
        text-align: center;
        text-transform: capitalize;
        font-size: 2.66em;
        font-style: italic;
        font-weight: bold; }
      .user-panel .login-panel-main .login-form .user-password-container {
        margin: 15px auto;
        width: 200px; }
      .user-panel .login-panel-main .login-form .user-password {
        color: #fff;
        background: none;
        outline: none;
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.17);
        font-size: 14pt;
        font-weight: bold;
        letter-spacing: 2px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 100%;
        transition: opacity 1s; }
        .user-panel .login-panel-main .login-form .user-password:focus, .user-panel .login-panel-main .login-form .user-password:active {
          border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
        .user-panel .login-panel-main .login-form .user-password::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.4); }
        .user-panel .login-panel-main .login-form .user-password.error {
          animation: error-shake 600ms forwards; }
        .user-panel .login-panel-main .login-form .user-password.error, .user-panel .login-panel-main .login-form .user-password.error:focus, .user-panel .login-panel-main .login-form .user-password.error:active {
          border-bottom: 2px solid rgba(175, 3, 3, 0.6); }
        .user-panel .login-panel-main .login-form .user-password.error::-webkit-input-placeholder {
          color: #af0303; }
      .user-panel .login-panel-main .login-form .submit-row {
        margin: 0 auto;
        width: 200px;
        position: absolute;
        left: 162.5px; }
        .user-panel .login-panel-main .login-form .submit-row .left, .user-panel .login-panel-main .login-form .submit-row .right {
          display: inline-block;
          float: left; }
        .user-panel .login-panel-main .login-form .submit-row .left {
          width: 80%; }
        .user-panel .login-panel-main .login-form .submit-row .left .dropdown {
          font-size: 0.75em;
          width: 95%; }
          .user-panel .login-panel-main .login-form .submit-row .left .dropdown:hover {
            cursor: pointer; }
        .user-panel .login-panel-main .login-form .submit-row .right {
          width: 20%; }
        .user-panel .login-panel-main .login-form .submit-row .right .submit-button {
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05); }
          .user-panel .login-panel-main .login-form .submit-row .right .submit-button:hover {
            cursor: pointer; }
            .user-panel .login-panel-main .login-form .submit-row .right .submit-button:hover polygon {
              transform: scale(1.1) translateX(2px); }
          .user-panel .login-panel-main .login-form .submit-row .right .submit-button > div {
            position: relative;
            left: 8px; }
          .user-panel .login-panel-main .login-form .submit-row .right .submit-button input[type=submit] {
            display: none; }
          .user-panel .login-panel-main .login-form .submit-row .right .submit-button svg {
            background-color: currentColor;
            height: 30px;
            filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
            border-radius: 4px; }
            .user-panel .login-panel-main .login-form .submit-row .right .submit-button svg circle {
              r: 0; }
            .user-panel .login-panel-main .login-form .submit-row .right .submit-button svg polygon {
              stroke: rgba(42, 19, 15, 0.05);
              stroke-width: 1px;
              transform: scale(1) translateX(0px);
              transform-origin: center;
              transition: all 200ms cubic-bezier(0.64, 0.15, 0.18, 0.52); }
      .user-panel .login-panel-main .login-form .submit-row-container {
        position: relative; }
      .user-panel .login-panel-main .login-form .left .dropdown .dropdown-item {
        color: #525252;
        display: none;
        padding: 8px 10px;
        transition: background-position-y 200ms ease; }
        .user-panel .login-panel-main .login-form .left .dropdown .dropdown-item:not(.active):hover {
          background: white; }
        .user-panel .login-panel-main .login-form .left .dropdown .dropdown-item:not(.active) {
          background: rgba(255, 255, 255, 0.9); }
      .user-panel .login-panel-main .login-form .left .dropdown .dropdown-item.active {
        color: #fff;
        display: block;
        background-image: url("../img/dropdown-caret.png");
        background-repeat: no-repeat;
        background-position: 90% 50%;
        position: relative;
        font-family: "Open Sans";
        font-weight: bold;
        font-style: italic;
        line-height: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 30px;
        border-radius: 2px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12); }
      .user-panel .login-panel-main .login-form .left .dropdown.active .dropdown-item {
        display: block; }
      .user-panel .login-panel-main .login-form .left .dropdown.active .dropdown-item.active {
        background-position: 90% 65%; }
  .user-panel .login-panel-switcher {
    display: block;
    opacity: 0;
    position: relative;
    top: -100%;
    z-index: 1;
    height: 100%; }
    .user-panel .login-panel-switcher.active {
      animation: 200ms switcher-fade-in ease-out forwards;
      animation-delay: 150ms;
      z-index: 2; }
    .user-panel .login-panel-switcher.fadeout {
      animation: 200ms switcher-fade-out ease-out forwards; }
    .user-panel .login-panel-switcher ul {
      list-style-type: none;
      transform-style: preserve-3d;
      padding-top: 50px;
      height: 95%; }
    .user-panel .login-panel-switcher li {
      display: inline-block;
      padding-top: 25px;
      width: 33.33%;
      transition: -webkit-filter 200ms, opacity 300ms; }
      .user-panel .login-panel-switcher li .avatar-background {
        background: url("../img/avatar-background.png") no-repeat center center;
        margin: 0 auto;
        height: 155px;
        width: 154px;
        transform: translateX(-10px);
        transition: all 1s; }
      .user-panel .login-panel-switcher li .avatar-mask {
        border-radius: 100%;
        overflow: hidden;
        height: 125px;
        width: 125px;
        transform: translate(20px, 15px); }
      .user-panel .login-panel-switcher li .avatar-name {
        text-align: center; }
        .user-panel .login-panel-switcher li .avatar-name .username {
          font-size: 16pt;
          font-weight: bold; }
        .user-panel .login-panel-switcher li .avatar-name .real-name {
          font-size: 12pt;
          font-style: italic; }
      .user-panel .login-panel-switcher li .user-avatar {
        margin: 0 auto;
        height: 125px;
        width: 125px; }
    .user-panel .login-panel-switcher li:not(.active) {
      display: none;
      -webkit-filter: blur(1px); }
      .user-panel .login-panel-switcher li:not(.active):hover {
        cursor: pointer;
        opacity: 0.9;
        -webkit-filter: blur(0.5px); }
    .user-panel .login-panel-switcher li.active {
      transform: translateZ(10px); }
    .user-panel .login-panel-switcher li.previous, .user-panel .login-panel-switcher li.next {
      display: inline-block;
      opacity: 0.8; }
    .user-panel .login-panel-switcher li.previous {
      transform: translate3d(50px, 0px, -10px) scale(0.9); }
    .user-panel .login-panel-switcher li.next {
      transform: translate3d(-50px, 0px, -10px) scale(0.9); }
    .user-panel .login-panel-switcher .header {
      font-size: 11pt;
      font-style: italic;
      text-align: center;
      letter-spacing: 1px;
      position: absolute;
      height: 5%;
      width: 100%; }
      .user-panel .login-panel-switcher .header em {
        font-weight: bold; }
  .user-panel .login-panel-main .bottom, .user-panel .login-panel-switcher .bottom {
    padding-top: 15px;
    height: 5%; }
    .user-panel .login-panel-main .bottom .left, .user-panel .login-panel-switcher .bottom .left {
      color: #fff;
      float: left;
      font-size: 0.75em;
      letter-spacing: 1px; }
    .user-panel .login-panel-main .bottom .left, .user-panel .login-panel-switcher .bottom .left {
      font-weight: bold;
      width: 30%; }
      .user-panel .login-panel-main .bottom .left:hover, .user-panel .login-panel-switcher .bottom .left:hover {
        cursor: pointer; }

/*****************************************************************
  -- #0.3b Command Panel
  @mixin ==============================================================
  Contains the system 'commands'. */
/*****************************************************************/
.command-panel {
  color: #fff;
  height: 100%; }
  .command-panel .distro-logo {
    background: url("../img/logos/archlinux.png") no-repeat center center;
    margin: 0px auto;
    height: 125px;
    width: 125px;
    transition: opacity 400ms; }
    .command-panel .distro-logo:hover {
      cursor: pointer; }
    .command-panel .distro-logo:active {
      opacity: 0.8; }
  .command-panel .distro-wrapper {
    padding-top: 35px;
    height: 52%; }
    .command-panel .distro-wrapper .options {
      position: relative;
      top: -100px;
      opacity: 0; }
      .command-panel .distro-wrapper .options.active {
        animation: drop-in-options 200ms forwards;
        animation-timing-function: ease-out; }
      .command-panel .distro-wrapper .options .button-accept, .command-panel .distro-wrapper .options .button-reject {
        background: rgba(0, 0, 0, 0.2);
        position: relative;
        opacity: 0.4;
        text-align: center;
        margin-top: 10px;
        padding: 7px 8px;
        height: 30px;
        width: 30px;
        border-radius: 100%; }
        .command-panel .distro-wrapper .options .button-accept:hover, .command-panel .distro-wrapper .options .button-reject:hover {
          cursor: pointer;
          opacity: 1; }
      .command-panel .distro-wrapper .options .button-accept {
        float: right;
        left: -15%; }
        .command-panel .distro-wrapper .options .button-accept:hover {
          background: #6e9200; }
      .command-panel .distro-wrapper .options .button-reject {
        float: left;
        left: 15%; }
        .command-panel .distro-wrapper .options .button-reject:hover {
          background: #b93300; }
    .command-panel .distro-wrapper .options-wrapper {
      overflow: hidden;
      height: 45px;
      width: 100%; }
  .command-panel .command {
    display: flex;
    margin-bottom: 25px;
    transition: all 0.5s; }
    .command-panel .command:hover {
      cursor: pointer;
      opacity: 0.6; }
  .command-panel .commands-wrapper {
    height: 43%; }
  .command-panel .command .icon-wrapper, .command-panel .command .text {
    display: inline-block; }
  .command-panel .command .icon-wrapper {
    margin-right: 10px;
    width: 30px; }
  .command-panel .command .icon-wrapper svg {
    height: 20px;
    width: 30px; }
  .command-panel .command .icon-wrapper svg > * {
    fill: currentColor; }
  .command-panel .command .text {
    font-size: 1.33em;
    letter-spacing: 2px;
    text-transform: uppercase;
    vertical-align: 2px;
    width: 100%; }
  .command-panel .bottom {
    height: 5%;
    padding-top: 15px; }
  .command-panel .bottom .left, .command-panel .bottom .right {
    float: left;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 1px; }
  .command-panel .bottom .left {
    color: rgba(255, 255, 255, 0.65);
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 70%; }
  .command-panel .bottom .right {
    text-align: right;
    opacity: 0;
    width: 30%;
    transition: opacity 1s; }
  .command-panel .bottom .clock.loaded {
    opacity: 1; }

/*****************************************************************
  -- #0.4a Settings
  @mixin ==============================================================
  Settings dialogue. */
/*****************************************************************/
.settings {
  display: flex;
  position: absolute;
  width: 600px;
  opacity: 1; }
  .settings > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .settings .settings-categories {
    width: 17%; }
  .settings .settings-section {
    display: flex;
    flex-direction: column;
    width: 83%; }
  .settings .settings-section .save-dialogue {
    display: flex;
    justify-content: flex-end; }

.settings .settings-categories ul li {
  color: #9c9c9c;
  background: #e0e0e0;
  font-weight: bold;
  font-variant: small-caps;
  padding: 15px 25px;
  transition: color 300ms ease, background-color 300ms ease; }

.settings .settings-categories ul li:hover {
  cursor: pointer;
  color: #4d4d4d;
  background: #e8e8e8; }

.settings .settings-categories ul li.active, .settings .settings-categories ul li.active:hover {
  color: #4d4d4d;
  background: #fafafa; }

.settings .settings-handle {
  background: #222;
  height: 25px;
  width: 100%; }
  .settings .settings-handle:hover {
    cursor: -webkit-grab; }
  .settings .settings-handle:active {
    cursor: -webkit-grabbing !important; }
  .settings .settings-handle:active:hover {
    cursor: -webkit-grabbing !important; }
  .settings .settings-handle ul {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    height: 100%;
    width: 100%; }
    .settings .settings-handle ul li {
      color: #000;
      font-weight: bold;
      padding: 5px 15px;
      height: 100%; }
    .settings .settings-handle ul li:hover {
      cursor: pointer; }
    .settings .settings-handle ul li.settings-minimize {
      color: #fff;
      background: #424242; }
    .settings .settings-handle ul li.settings-close {
      background: #de3838; }

.settings .settings-section {
  background: #fafafa; }
  .settings .settings-section ul h4 {
    font-weight: bold; }
  .settings .settings-section ul hr {
    background: #ececec;
    color: #ececec;
    border: 1px solid #ececec; }
  .settings .settings-section ul li {
    list-style-type: none;
    margin-bottom: 10px; }
  .settings .settings-section ul li + h4 {
    margin-top: 35px; }
  .settings .settings-section ul li input[type='checkbox'] {
    position: absolute;
    left: -9999px; }
  .settings .settings-section ul li input[type='text'] {
    display: inline-block;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    width: 50%;
    border: 1px solid #e0e0e0; }
  .settings .settings-section ul li label:hover {
    cursor: pointer; }
  .settings .settings-section ul li input[type='checkbox'] + label .fake-checkbox {
    color: #4e1d1d;
    display: inline-block;
    background: #f2d9d9;
    font-weight: bold;
    padding: 10px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    height: 15px;
    width: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 4px; }
    .settings .settings-section ul li input[type='checkbox'] + label .fake-checkbox:hover {
      cursor: pointer; }
  .settings .settings-section ul li input[type='checkbox']:checked + label .fake-checkbox {
    color: #2d4e1d;
    background: #e1f2d9; }
  .settings .settings-section ul li input[type='checkbox'] + label .fake-checkbox:after {
    display: inline-block;
    content: "×";
    font-size: 1.4em;
    position: absolute;
    top: -0.05rem;
    left: 0.25rem; }
  .settings .settings-section ul li input[type='checkbox']:checked + label .fake-checkbox:after {
    display: inline-block;
    content: "✔";
    font-size: 1em;
    position: absolute;
    top: 0.1rem;
    left: 0.2rem; }
  .settings .settings-section label + select {
    margin-left: 10px;
    width: 50%; }
  .settings .settings-section select {
    padding: 5px; }

.settings-section .save-dialogue {
  background: #f3f3f3;
  border-top: 1px solid #eee;
  padding: 10px 15px; }
  .settings-section .save-dialogue button {
    outline: none;
    border: none;
    padding: 5px 8px 8px 8px;
    margin-left: 10px;
    border-radius: 2px; }
  .settings-section .save-dialogue button:hover {
    cursor: pointer; }
  .settings-section .save-dialogue button.settings-reject {
    color: #581212; 
    background: #f35e5e; } /***f35e5e**************************************************************/
  .settings-section .save-dialogue button.settings-save {
    color: #145a07;
    background: #84ff93; }

.settings-toggler {
  color: #222;
  background: #fff;
  opacity: 0;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  position: fixed;
  bottom: 25px;
  left: 25px;
  padding-top: 8px;
  height: 85px;
  width: 85px;
  border-radius: 100px;
  user-select: none;
  transition: opacity 300ms ease; }
  .settings-toggler:hover {
    cursor: pointer;
    opacity: 1; }

/*****************************************************************
  -- #0.4b Settings General
  @mixin ==============================================================
  General Settings section. */
/*****************************************************************/
.settings-general {
  display: flex;
  padding: 25px; }
  .settings-general .left {
    padding: 15px;
    width: 40%; }
  .settings-general .right {
    padding: 15px;
    width: 60%; }

.settings-general .left {
  border-right: 2px solid #eee; }
  .settings-general .left h6 {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 30px; }
  .settings-general .left li {
    list-style-type: none; }
  .settings-general .left select {
    margin: 15px 0px 0px 0px;
    padding: 5px;
    width: 100%; }
  .settings-general .left select:hover {
    cursor: pointer; }
  .settings-general .left select option:hover {
    cursor: pointer; }
  .settings-general .left .preview-logo img {
    display: block;
    margin: 0 auto; }

.settings-general .right {
  height: 400px;
  overflow-y: scroll; }

/*****************************************************************
  -- #0.4c Settings Style
  @mixin ==============================================================
  Style Settings section. */
/*****************************************************************/
.settings-style {
  display: flex;
  padding: 25px; }
  .settings-style .left {
    padding: 25px;
    width: 100%; }
  .settings-style .right {
    padding: 25px;
    width: 100%; }
  .settings-style .right .color-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .settings-style .right .swatch-container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .settings-style .right .swatch-container .swatch {
    display: flex;
    flex-wrap: wrap; }
  .settings-style .right .swatch-container .swatch .swatch-bg {
    flex-grow: 1; }

.settings-style .left {
  border-right: 2px solid #eee; }

.settings-style .left li {
  display: flex;
  align-items: center; }

.settings-style .left li label {
  flex-grow: 2;
  width: 100%; }

.settings-style .left ul li input[type='text'] {
  flex-shrink: 2;
  margin-top: 0px; }

.settings-style .right .color-group .settings-color:last-of-type {
  margin-bottom: 35px; }

.settings-style .right .settings-item.settings-color {
  margin-top: 15px;
  width: 48%; }

.settings-style .right .settings-item.settings-color label {
  display: block;
  overflow: hidden;
  font-size: 0.8em;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.settings-style .right .settings-item.settings-color .swatch-container {
  position: relative;
  margin-top: 10px; }
  .settings-style .right .settings-item.settings-color .swatch-container input[type='text'] {
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
    width: 46%; }
  .settings-style .right .settings-item.settings-color .swatch-container .swatch {
    border: 5px solid #ffffff;
    height: 35px;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    transition: box-shadow 1000ms ease; }
    .settings-style .right .settings-item.settings-color .swatch-container .swatch:hover {
      cursor: pointer;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35); }
    .settings-style .right .settings-item.settings-color .swatch-container .swatch .swatch-bg {
      flex-grow: 1;
      position: relative;
      top: -12.5px;
      height: 12.5px;
      width: 1%;
      z-index: 1; }
    .settings-style .right .settings-item.settings-color .swatch-container .swatch .swatch-bg-black {
      background: #000; }
    .settings-style .right .settings-item.settings-color .swatch-container .swatch .swatch-bg-white {
      background: #fff; }
    .settings-style .right .settings-item.settings-color .swatch-container .swatch .swatch-bg-gray {
      background: #808080; }
    .settings-style .right .settings-item.settings-color .swatch-container .swatch .swatch-fg {
      height: 25px;
      width: 100%;
      z-index: 2; }

.settings-style .right .settings-item.settings-color .swatch-container.active .chrome-picker {
  position: absolute;
  left: 90px;
  z-index: 4; }

.settings-style .right .settings-item.settings-color .swatch-container.active .colorpicker-background {
  position: fixed;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 100px;
  height: 100vh;
  width: 100vw;
  z-index: 3; }

/*****************************************************************
  -- #0.4d Settings Themes
  @mixin ==============================================================
  Themes Settings section. */
/*****************************************************************/
.settings-themes {
  max-height: 450px;
  overflow-y: scroll; }
  .settings-themes .theme {
    margin: 15px 0px;
    padding: 10px; }
    .settings-themes .theme ul {
      display: flex;
      list-style-type: none;
      margin-top: 10px; }
    .settings-themes .theme li.theme-color-block {
      display: inline-block;
      border: 2.5px solid #fff;
      margin: 5px;
      height: 50px;
      width: 50px;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
      transform: translateY(0px);
      transition: transform 250ms ease-in, box-shadow 250ms ease-in, border 250ms ease-in; }
      .settings-themes .theme li.theme-color-block:hover {
        border: 2.5px solid #222;
        cursor: pointer;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
        transform: translateY(-3px); }
    .settings-themes .theme .upper button {
      color: #222;
      background: #eee;
      outline: none;
      border: none;
      padding: 5px 8px 8px 8px;
      margin-left: 10px;
      border-radius: 2px; }
      .settings-themes .theme .upper button:hover {
        cursor: pointer; }
    .settings-themes .theme .upper button.delete {
      color: #581212;
      background: #eee; }/**f35e5e***************************************************************/
    .settings-themes .theme .upper .theme-name {
      display: inline-block;
      font-weight: bold;
      margin-right: 15px; }
  .settings-themes .theme-saver {
    background: #eee;
    border-bottom: 1px solid #eaeaea;
    padding: 15px; }
    .settings-themes .theme-saver p {
      margin-bottom: 12px; }
    .settings-themes .theme-saver input {
      border: 1px solid #e0e0e0;
      margin-right: 5px;
      padding: 5px; }
    .settings-themes .theme-saver button {
      color: #222;
      outline: none;
      border: none;
      padding: 5px 8px 8px 8px;
      margin-left: 10px;
      border-radius: 2px; }
      .settings-themes .theme-saver button:hover {
        cursor: pointer; }

/*****************************************************************
  -- #0.5a Misc. Styles
  @mixin ==============================================================
  Misc. */
/*****************************************************************/
.minimize {
  height: 0px !important;
  overflow: hidden !important; }
